*.tsc-diy
*.TSC-DIY
*.data-00000-of-00001
*.index
*.meta
*.w_num_map
*.text
*.h5
*.cfg
*.pkl
*.ds_store
*.pyc
*.7z
*.npy
*.npz
*.txt
*.json
*.hdf5
*.tmp*
checkpoint
*.DS_Store
._*
!requirements.txt
!stopwords.text

