# pip freeze > requirements2.txt

absl-py==1.4.0
allennlp==0.4.3
astor==0.8.1
attrs==22.2.0
awscli==1.24.10
boto3==1.23.10
botocore==1.26.10
cached-property==1.5.2
certifi==2021.5.30
cffi==1.11.2
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cycler==0.11.0
cymem==2.0.7
cytoolz==0.9.0.1
dataclasses==0.8
dill==0.2.9
docutils==0.16
editdistance==0.6.2
flaky==3.7.0
Flask==2.0.3
Flask-Cors==3.0.3
gast==0.5.3
gevent==1.2.2
greenlet==2.0.2
grpcio==1.48.2
h5py==2.9.0
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.2.2
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.9
nltk==3.6.3
numpy==1.19.5
overrides==3.1.0
packaging==21.3
pandas==1.1.5
patsy==0.5.3
pep517==0.13.0
Pillow==8.4.0
pip-tools==6.4.0
plac==0.9.6
pluggy==1.0.0
preshed==2.0.1
protobuf==3.19.6
psycopg2==2.7.7
py==1.11.0
pyasn1==0.4.8
pycparser==2.21
pyhocon==0.3.35
pymongo==4.1.1
pyparsing==3.0.9
pytest==7.0.1
python-dateutil==2.8.2
pytorch-transformers==1.0.0
pytz==2017.3
PyYAML==5.4.1
regex==2018.1.10
requests==2.27.1
responses==0.17.0
rsa==4.7.2
s3transfer==0.5.2
scikit-learn==0.19.2
scipy==1.5.4
sentencepiece==0.1.97
six==1.16.0
spacy==2.0.18
statsmodels==0.12.2
tanshicheng==0.3.24
tensorboard==1.12.2
tensorboardX==1.0
tensorflow-gpu==1.12.0
termcolor==1.1.0
thinc==6.12.1
threadpoolctl==3.1.0
tinydb==4.7.0
tomli==1.2.3
toolz==0.12.0
torch @ https://download.pytorch.org/whl/cu90/torch-1.1.0-cp36-cp36m-linux_x86_64.whl
torchvision @ https://download.pytorch.org/whl/cu90/torchvision-0.3.0-cp36-cp36m-manylinux1_x86_64.whl
tqdm==4.62.3
tsc-auto==0.49
typing==3.7.4.3
typing_extensions==4.1.1
ujson==4.3.0
Unidecode==1.3.6
urllib3==1.26.15
Werkzeug==2.0.3
wrapt==1.10.11
zipp==3.6.0
